<section class="container-fluid text-center panel panel-default formPanel">
    <div class="row">
        <!-- SEARCH BY Adress -->
        <div class="container">
            <form class="form-inline" ng-submit="library(namn)">
                <div class="form-group">
                    <span class="input-group-text">Library name</span>
                    <select class="form-control" id="namn" ng-model="namn">
                        <option value="">Select library by name</option>
                        <option>Råå bibliotek</option>
                        <option>Ringstorps bibliotek</option>
                        <option>Rosengårdens bibliotek</option>
                        <option>Rydebäcks bibliotek</option>
                        <option>Påarps bibliotek</option>
                        <option>Drottninghögs bibliotek</option>
                        <option>Laröds bibliotek</option>
                        <option>Elinebergs bibliotek</option>
                        <option>Ödåkra bibliotek</option>
                        <option>Stadsbiblioteket</option>
                    </select>
                </div>
                <button type="submit" class="btn btn btn-primary bg-color-3">Search</button>
            </form>
        </div>
        <!-------------------------->
    </div>
</section>
